In [126]:
import pandas as pd

Analytical Results data set columns:

**Sample ID#** - PDP Sample ID (unique sample identifier) - combination of 2-letter Collection State code, 2-digit Year, 2-digit Month, 2-digit Day, 4-digit Collection Site code, 2-letter Commodity code, 3-character Analyzing Lab code, and optional 1-letter Source ID code.9

**Com** - Commodity Code (2-letters) for product collected. Example: AP=Apples

**Pest Code** - FDA/PDP Pesticide Code (3-characters) for compound tested. Example: 011=Captan

**Pest Name** - Pesticide/compound Name

**Tst** - Code for Test Classification. Example: O=Pyrethroids

**Concen** - Concentration of residue detected. Zero (0) for non-detect.

**LOD** - Limit of Detection for pesticide/commodity pair

**pp_** - Concentration/LOD unit of measure (M=parts-per-million, B=pp-billion, T=pp-trillion)

**Co1** - Code for primary Confirmation method (1- or 2-letters). Example: LU=LC-MS/MS-triple quad

**Co2** - Code for secondary Confirmation method (1- or 2-letters)

**Ann** - Code for Annotated Information (1- or 2-letters). Example: Q=Below Quantifiable Level

**Qua** - Code for Quantitative method (1- or 2-letters). Example: E=Estimate

**Mea** - Code for Mean Result finding (1- or 2-letters). Examples: ND=Non-Detect

**Ext** - Code for Extraction method (3-digits). Example: 805=MDA Modified QuEChERS Method

**Det** - Code for Determinative method (2-digits). Example: 35=GC/MS/MS - triple quadrupole

**Tol (ppm)** - Established EPA Tolerance Level for pesticide/commodity pair in parts-per-million (ppm). Examples: 1.0 = 1.0 ppm, NT=No Tolerance; AL=FDA Action Level

In [127]:
pdp = pd.read_csv('USDA_PDP_AnalyticalResults.csv')
pdp.head()

/var/folders/2y/l663l_nd1l304qz74zw25clh0000gn/T/ipykernel_4524/4040503076.py:1: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  pdp = pd.read_csv('USDA_PDP_AnalyticalResults.csv')

,Sample ID,Commod,Pesticide Code,Pesticide Name,Test Class,Concentration,LOD,pp_,Confirm 1,Confirm 2,Annotate,Quantitate,Mean,Extract,Determ,EPA Tolerance (ppm)
0,CA9401180009APCA1,AP,157,Thiabendazole,B,0.190,0.03,M,M,NaN,NaN,H,O,NaN,NaN,10
1,CA9401180009APCA1,AP,125,Diphenylamine (DPA),F,1.000,0.01,M,M,NaN,NaN,H,O,NaN,NaN,10
2,CA9401180084APCA1,AP,125,Diphenylamine (DPA),F,0.110,0.01,M,M,NaN,NaN,H,O,NaN,NaN,10
3,CA9401180084APCA1,AP,157,Thiabendazole,B,0.091,0.03,M,M,NaN,NaN,H,O,NaN,NaN,10
4,CA9401180089APCA1,AP,042,Azinphos methyl,C,0.270,0.02,M,D,M,NaN,M,O,NaN,NaN,2

In [128]:
pdp['State'] = pdp['Sample ID'].str[0:2]
pdp['Year'] = pdp['Sample ID'].str[2:4]
pdp['Month'] = pdp['Sample ID'].str[4:6]
pdp['Day'] = pdp['Sample ID'].str[6:8]
pdp['Collection Site'] = pdp['Sample ID'].str[8:12]
pdp['Community'] = pdp['Sample ID'].str[12:14]
pdp['Analyzing Lab'] = pdp['Sample ID'].str[14:17]
pdp['Source ID'] = pdp['Sample ID'].str[17:18]
pdp.head()

,Sample ID,Commod,Pesticide Code,Pesticide Name,Test Class,Concentration,LOD,pp_,Confirm 1,Confirm 2,...,Determ,EPA Tolerance (ppm),State,Year,Month,Day,Collection Site,Community,Analyzing Lab,Source ID
0,CA9401180009APCA1,AP,157,Thiabendazole,B,0.190,0.03,M,M,NaN,...,NaN,10,CA,94,01,18,0009,AP,CA1,
1,CA9401180009APCA1,AP,125,Diphenylamine (DPA),F,1.000,0.01,M,M,NaN,...,NaN,10,CA,94,01,18,0009,AP,CA1,
2,CA9401180084APCA1,AP,125,Diphenylamine (DPA),F,0.110,0.01,M,M,NaN,...,NaN,10,CA,94,01,18,0084,AP,CA1,
3,CA9401180084APCA1,AP,157,Thiabendazole,B,0.091,0.03,M,M,NaN,...,NaN,10,CA,94,01,18,0084,AP,CA1,
4,CA9401180089APCA1,AP,042,Azinphos methyl,C,0.270,0.02,M,D,M,...,NaN,2,CA,94,01,18,0089,AP,CA1,

In [129]:
pdp = pdp[['Sample ID', 'State', 'Year', 'Concentration', 'Pesticide Code', 'Pesticide Name']]
pdp['Year'] = pdp['Year'].astype(int)
pdp['State'] = pdp['State'].astype('string')
pdp = pdp.rename(columns = {'Sample ID': 'sample_id', 
                            'State': 'state',
                            'Year': 'year',
                            'Concentration': 'concentration',
                            'Pesticide Code': 'pesticide_code',
                            'Pesticide Name': 'pesticide_name'})
pdp.head()

,sample_id,state,year,concentration,pesticide_code,pesticide_name
0,CA9401180009APCA1,CA,94,0.190,157,Thiabendazole
1,CA9401180009APCA1,CA,94,1.000,125,Diphenylamine (DPA)
2,CA9401180084APCA1,CA,94,0.110,125,Diphenylamine (DPA)
3,CA9401180084APCA1,CA,94,0.091,157,Thiabendazole
4,CA9401180089APCA1,CA,94,0.270,042,Azinphos methyl

In [130]:
pdp = pdp[~pdp['year'].isin([94, 95, 96, 21, 22, 23])].reset_index(drop=True)
pdp.year.unique().tolist()

[97,
 98,
 99,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

In [131]:
monarchs = pd.read_csv('JNorthMonarch_with_fips.csv')
monarchs['STATEABBR'] = monarchs['STATEABBR'].astype('string')
monarchs = monarchs.rename(columns={'STATEABBR': 'state',
                                    'STATEFP': 'state_fips',
                                    'COUNTYFP': 'county_fips'})
monarchs = monarchs[(monarchs['species'] != 'Milkweed Sighted') & (monarchs['species'] != 'Milkweed (FIRST sighted)')]
monarchs['year'] = monarchs['sighting_date'].str[0:4]
monarchs = monarchs[['id', 'year', 'state', 'number']]
monarchs['year'] = monarchs['year'].astype(str).str[2:].astype(int)
monarchs = monarchs[~monarchs['year'].isin([94, 95, 96, 21, 22, 23])].reset_index(drop=True)
monarchs.head()

          id  year state  number
0  855061862    97    NC       1
1  855159952    97    FL       1
2  855160200    97    FL       1
3  855247856    97    FL       1
4  855281548    97    FL       1

In [132]:
monarchs.head()

          id  year state  number
0  855061862    97    NC       1
1  855159952    97    FL       1
2  855160200    97    FL       1
3  855247856    97    FL       1
4  855281548    97    FL       1

In [133]:
pdp.head()

,sample_id,state,year,concentration,pesticide_code,pesticide_name
0,MO9701140340WHUS3,MO,97,0.033,052,Malathion
1,CA9701060304AJCA1,CA,97,0.330,157,Thiabendazole
2,CA9701070112AJCA1,CA,97,0.013,042,Azinphos methyl
3,CA9701070112AJCA1,CA,97,0.310,157,Thiabendazole
4,CA9702240307AJCA1,CA,97,0.640,157,Thiabendazole

In [134]:
pdp.to_csv('pdp_data.csv', index=False)
monarchs.to_csv('butterflies_data.csv', index=False)